<ion-view id="tab-home" view-title="首页">
  <ion-header-bar  ng-if="!offline" class="bar-light sub-header">
    <div class="row header-row">
      <ion-scroll delegate-handle="tabs-scroll" zooming="false" class="tabs-container" direction="x" scrollbar-y="false" scrollbar-x="false">
        <ul class="slide-tabs">
          <li ng-repeat="category in categorySort" ng-class="slideIndex == $index ? 'current-active'+ category.id : 'current'+ category.id">
            <a href="#" ng-click="activeSlide($index)"></a>
          </li>
        </ul>
      </ion-scroll>
      
      <!-- <button id="btn-addCategory" class="button button-stable icon ion-ios-plus-empty" ng-click="openModal()">
      </button> -->
      <a id="btn-addCategory" href="#" ng-click="openModal()"></a>
      
    </div>
  </ion-header-bar>
  
  <div ng-if="offline" id="offlineBtn">
    <p>网络连接失败!</p>
    <button class="button button-assertive" ng-click="initCategoryVMs()">重新加载</button>
  </div>

  <ion-slide-box  ng-if="!offline" delegate-handle="outer-slider" id="outer-slider" show-pager="false" on-slide-changed="outerSlideChanged(index)" active-slide="slideIndex">
    <ion-slide ng-repeat="category in categories"> 
      <ng-include src="'templates/' + category.listTemplate + '.list.html'"></ng-include>
    </ion-slide>
  </ion-slide-box>

</ion-view>
